# One month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

# One month for css assets
<filesMatch "./css/.(css)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>
